<!-- ---------------------------------------------------- -->
<!-- ---------------------------------------------------- -->
<!-- ---------------------------------------------------- -->
<!-- ---------------------------------------------------- -->
<!-- ---------------BLOGS STARTS HERE--------------- -->

<div class="row d-flex justify-content-end" style="margin-top: 50px;">
    <a class="btn btn-primary" style="margin-right: 20px;" routerLink="/request" role="button">Make a blog request</a>
</div>
<br>
<br>

<div class="d-flex justify-content-center" *ngIf="!blogs">
    <div class="spinner-border" style="width: 10rem; height: 10rem;" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<div>

    <div *ngFor="let blog of newBlogs | paginate: { itemsPerPage: 4, currentPage:r }">
        <div class="card container" *ngIf="blog.status">
            <div class="row">
                <div class="col-md-3">
                    <img src="../../assets/images/krushi sarthi final .png" class="img-fluid" style="margin-top: 15px;" [alt]="blog.title">
                </div>
                <div class="col-md-9">
                    <div class="card-header" style="font-weight: bold;">{{blog.title}}</div>
                    <div class="card-body" style="font-style: italic;">{{blog.body}}</div>
                    <div class="card-footer" style="font-weight: bold;opacity: .7;">{{blog.author}}</div>
                </div>
            </div>
        </div>
        <hr *ngIf='blog.status'>
    </div>
    <div class="d-flex justify-content-center">

        <pagination-controls class="my-pagination" (pageChange)="r = $event"></pagination-controls>
    </div>
</div>