<!-- ---------------HERO STARTS HERE--------------- -->
<div class="jumbotron bgimg-1" style="height: 100vh;">
    <h1 class="display-4">Hello, world!</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
</div>
<!-- ---------------HERO ENDS HERE--------------- -->
<!-- ---------------------------------------------------- -->
<!-- ---------------------------------------------------- -->
<!-- ---------------------------------------------------- -->
<!-- ---------------------------------------------------- -->
<div class="container" id="form">
    <div class="row" id="form_inside">
        <div class="col-md-4" style="background-color:#adf2">
            <!-- <h1 style="text-align: center;">We are happy to feature your blogs and messsages</h1> -->
        </div>
        <div class="col-md-8">
            <form [formGroup]="form" class="form-horizontal" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <!-- <label class="control-label col-sm-2" for="name">Name:</label> -->
                    <div class="col-sm-10">
                        <input class="input--style-1" type="text" class="form-control" id="name" placeholder="Enter Full Name" name="name" formControlName="name">
                    </div>
                </div>
                <div class="form-group">
                    <!-- <label class="control-label col-sm-2" for="pwd">Blog Title:</label> -->
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="title" placeholder="Enter Blog Title" name="title" formControlName="title">
                    </div>
                </div>
                <div class="form-group">
                    <!-- <label class="control-label col-sm-2" for="pwd">Blog Image:</label> -->
                    <div class="col-sm-10">
                        <button type="button" class="btn btn-primary" (click)="filePicker.click()">Pick Image</button>
                        <input type="file" class="form-control" id="image" name="image" #filePicker (change)="onImagePicked($event)">
                        <div class="image-preview" *ngIf="imagePreview!=='' && imagePreview">
                            <img [src]="imagePreview" [alt]="form.value.title" class="image-fluid" style="max-height: 100px;">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <!-- <label class="control-label col-sm-2" for="pwd">Blog Content:</label> -->
                    <div class="col-sm-10">
                        <textarea name="body" class="form-control" placeholder="Enter Blog Body" id="body" cols="30" rows="10" formControlName="body"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
                <h1 *ngIf="submitDone">Blog Submitted</h1>
            </form>
        </div>
    </div>
</div>



<hr>
<hr>
<hr>


<div class="page-wrapper bg-blue p-t-100 p-b-100 font-robo">
    <div class="wrapper wrapper--w680">
        <div class="card card-1">
            <div class="card-heading"></div>
            <div class="card-body">
                <h2 class="title">Registration Info</h2>
                <form method="POST">
                    <div class="input-group">
                        <input class="input--style-1" type="text" placeholder="NAME" name="name">
                    </div>
                    <div class="row row-space">
                        <div class="col-2">
                            <div class="input-group">
                                <input class="input--style-1 js-datepicker" type="text" placeholder="BIRTHDATE" name="birthday">
                                <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="input-group">
                                <div class="rs-select2 js-select-simple select--no-search">
                                    <select name="gender">
                                        <option disabled="disabled" selected="selected">GENDER</option>
                                        <option>Male</option>
                                        <option>Female</option>
                                        <option>Other</option>
                                    </select>
                                    <div class="select-dropdown"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="input-group">
                        <div class="rs-select2 js-select-simple select--no-search">
                            <select name="class">
                                <option disabled="disabled" selected="selected">CLASS</option>
                                <option>Class 1</option>
                                <option>Class 2</option>
                                <option>Class 3</option>
                            </select>
                            <div class="select-dropdown"></div>
                        </div>
                    </div>
                    <div class="row row-space">
                        <div class="col-2">
                            <div class="input-group">
                                <input class="input--style-1" type="text" placeholder="REGISTRATION CODE" name="res_code">
                            </div>
                        </div>
                    </div>
                    <div class="p-t-20">
                        <button class="btn btn--radius btn--green" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>