<style>
    #form {
        position: relative;
    }
    
    #form::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(../../../assets/images/indian-farmer-working-traditional-way-with-bull-his-farm-indian-farming-scene_136354-2656\ 1.png);
        filter: saturate(4) grayscale(40%) blur(5px)
    }
    
    .form_inside {
        /* This will make it stack on top of the ::before */
        position: relative;
    }
</style>

<!-- ---------------HERO STARTS HERE--------------- -->
<div class="jumbotron bgimg-1" style="height: 100vh;">
    <h1 class="display-4">Hello, world!</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
</div>
<!-- ---------------HERO ENDS HERE--------------- -->
<!-- ---------------------------------------------------- -->
<!-- ---------------------------------------------------- -->
<!-- ---------------------------------------------------- -->
<!-- ---------------------------------------------------- -->
<div class="container" id="form">
    <div class="row" id="form_inside">
        <div class="col-md-4" style="display: table;">
            <h1 style="text-align: center;">We are happy to feature your blogs and messsages</h1>
        </div>
        <div class="col-md-8">
            <form [formGroup]="form" class="form-horizontal" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="name">Name:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="name" placeholder="Enter Full Name" name="name" formControlName="name">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="pwd">Blog Title:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="title" placeholder="Enter Blog Title" name="title" formControlName="title">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="pwd">Blog Image:</label>
                    <div class="col-sm-10">
                        <button type="button" class="btn btn-primary" (click)="filePicker.click()">Pick Image</button>
                        <input type="file" class="form-control" id="image" name="image" #filePicker (change)="onImagePicked($event)">
                    </div>
                </div>
                <div class="image-preview" *ngIf="imagePreview!=='' && imagePreview">
                    <img [src]="imagePreview" [alt]="form.value.title" class="image-fluid">
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="pwd">Blog Content:</label>
                    <div class="col-sm-10">
                        <!-- <input type="password" class="form-control" id="title" placeholder="Enter Blog Title" name="title" style=""> -->
                        <textarea name="body" class="form-control" placeholder="Enter Blog Body" id="body" cols="30" rows="10" formControlName="body"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
                <h1 *ngIf="submitDone">Blog Submitted</h1>
            </form>
        </div>
    </div>
</div>