<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Login Form -->
        <form (submit)="onSignup(signupForm)" #signupForm="ngForm">
            <input type="text" id="login" ngModel class="fadeIn second" name="email" placeholder="UserName" #emailInput="ngModel" required email>
            <input type="text" id="password" ngModel class="fadeIn third" name="password" placeholder="Password" #passwordInput="ngModel" required>
            <input type="submit" class="fadeIn fourth" value="SignUp">
        </form>


    </div>
</div>