<!-- ---------------HERO STARTS HERE--------------- -->
<!-- <header class="w3-display-container w3-grayscale-min" id="home" style=" background-position: center;background-size: cover;background-image: url('../assets/images/farmer.jpg');min-height: 100%">
        <div class="w3-display-left w3-text-white" style="padding:48px">
            <span class="w3-jumbo w3-hide-small">Start something that matters</span><br>
            <span class="w3-xxlarge w3-hide-large w3-hide-medium">Start something that matters</span><br>
            <span class="w3-large">Stop wasting valuable time with projects that just isn't you.</span>
        </div>
    </header> -->
<div class="jumbotron bgimg-1" style="height: 100vh;">
    <h1 class="display-4">Hello, world!</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
</div>
<!-- ---------------HERO ENDS HERE--------------- -->
<!-- ---------------------------------------------------- -->
<!-- ---------------------------------------------------- -->
<!-- ---------------------------------------------------- -->
<!-- ---------------------------------------------------- -->
<!-- ---------------ABOUT US STARTS HERE--------------- -->
<section id="ks_about_us">
    <br><br>
    <div class="container">
        <div class="row">
            <h2 style="font-family: Poppins;font-weight: bolder;font-size: 68px;color: #494949;text-shadow: 28px 28px 14px rgba(18, 122, 1, 0.25);">About Us</h2>
        </div>
        <div class="row">
            <div class="col-md-6">
                <img src="../assets/images/farmer.jpg" style="height: 300px;">
            </div>
            <div class="col-md-6">
                <p style="font-family: Poppins;font-style: normal;font-weight: normal;font-size: 15px;line-height: 20px;color: #616161;">
                    Krishi Sarthi is an innovative idea which takes its roots from the struggles of farmers for buying the pre-requisites and selling the farms products. Agriculture being the backbone of our economy, needs to be worked out so that it is equipped with technical
                    sustainability. This platform consists of everything a farmer requires for farming right from seeds, fertilizers to pesticides and weedicides.<br><br> Krishi Sarthi is a bunch of professionals coming from various
                    backgrounds working with a common aim to make agriculture sustainable through various means such as improving supply chain management, providing technical aid to the farmers, helping them to compare markets before buying or selling.
                    With a user-friendly interface, this platform is going to help the farmers to choose their products to be bought and sold from a nationwide array of vendors. It will also help the vendors to increase their business from local to regional
                    and more.
                </p>
            </div>
        </div>
    </div>
    <br>
</section>
<!-- ---------------ABOUT US ENDS HERE--------------- -->
<!-- ---------------------------------------------------- -->
<!-- ---------------------------------------------------- -->
<!-- ---------------------------------------------------- -->
<!-- ---------------------------------------------------- -->
<!-- ---------------WHY CHOOSE STARTS HERE--------------- -->
<section id="ks_why_choose_us">
    <hr>
    <div class="container">
        <div class="row d-flex justify-content-center">
            <h2 style="font-family: Poppins;font-style: normal;font-weight: bolder;font-size: 68px;color: #494949;text-shadow: 28px 28px 14px rgba(18, 122, 1, 0.25);">Why Choose Us</h2>
        </div>
        <br>
        <section class="tm-section-5" id="tm-section-5">
            <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="image fit">
                        <img src="../assets/img/tm-sc4-img-1.jpg" class="img-fluid">
                    </div>
                </div>
                <div class="col-lg-8 col-md-12 col-sm-12 pl-lg-0">
                    <div class="media tm-media">
                        <img src="../assets/img/Group 32.png" class="img-responsive tm-media-img">
                        <div class="media-body tm-box-5">
                            <h2 style="font-family: Poppins;font-style: normal;font-weight: bolder;color: #494949;">Quality Products</h2>
                            <p class="mb-0">We aim at supplying first-class quality products. Quality assurance is our foremost priority.</p>
                        </div>
                    </div>
                    <div class="media tm-media">
                        <img src="../assets/img/Group 30.png" class="img-responsive tm-media-img">
                        <div class="media-body tm-box-5">
                            <h2 style="font-family: Poppins;font-style: normal;font-weight: bolder;color: #494949;">Residential Delivery</h2>
                            <p class="mb-0">There is no need for wandering around in search of shops for purchasing the products, these will be delivered at your doorstep.</p>
                        </div>
                    </div>
                    <div class="media tm-media">
                        <img src="../assets/img/Group 31.png" class="img-responsive tm-media-img">
                        <div class="media-body tm-box-5">
                            <h2 style="font-family: Poppins;font-style: normal;font-weight: bolder;color: #494949;">Excellent Service</h2>
                            <p class="mb-0"> There will be no room left for any mistakes while serving. Instant redressal will be done in case of any error.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <br>
    <hr>
</section>
<!-- ---------------WHY CHOOSE US ENDS HERE--------------- -->
<!-- ---------------------------------------------------- -->
<!-- ---------------------------------------------------- -->
<!-- ---------------------------------------------------- -->
<!-- ---------------------------------------------------- -->
<!-- ---------------VISSION MISSION STARTS HERE--------------- -->
<div class="row justify-content-center">
    <h2 style="font-family: Poppins;font-style: normal;font-weight: bolder;font-size: 68px;color: #494949;text-shadow: 28px 28px 14px rgba(18, 122, 1, 0.25);">Our Values</h2>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title card text-center"> <span class="badge badge-pill">
                            <h2 style="font-family: Poppins;font-style: normal;font-weight: bold;font-size: 50px;color: #494949;text-shadow: 28px 28px 14px rgba(18, 122, 1, 0.25);">Vission</h2>
                        </span></h2>
                <p class="card-text">
                    <ul>
                        <li class="container">
                            To assist farmers for prolific cultivation.
                        </li>
                    </ul>

            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card text-left">
            <div class="card-body">
                <h2 class="card-title card text-center"><span class="badge badge-pill">
                            <h2 style="font-family: Poppins;font-style: normal;font-weight: bold;font-size: 50px;color: #494949;text-shadow: 28px 28px 14px rgba(18, 122, 1, 0.25);">Mission</h2>
                        </span></h2>
                <p class="card-text">
                    <ul class="container">
                        <li>To develop a platform wherein the farmer is provided with various options to buy and sell products from local to national level.</li>
                        <li>To improve the supply chain from manufacturer to farmer and again from farmer to Agro-based industries thereby decreasing the middle men costs.</li>
                        <li>To increase the technological utilizations in farming so as to ease man power and reduce the cost.</li>
                        <li> To increase the customer base of vendors and farmers thereby enabling them to do business on a higher scale.
                        </li>
                    </ul>

            </div>
        </div>
    </div>
</div>
<br>
<hr>
<!-- ---------------VISSION MISSION ENDS HERE--------------- -->
<!-- ---------------------------------------------------- -->
<!-- ---------------------------------------------------- -->
<!-- ---------------------------------------------------- -->
<!-- ---------------------------------------------------- -->
<!-- ---------------SERVICES STARTS HERE--------------- -->
<section class="page-section" id="ks_services">
    <div class="container">
        <div class="text-center">
            <h2 style="font-family: Poppins;font-style: normal;font-weight: bolder;font-size: 68px;color: #494949;text-shadow: 28px 28px 14px rgba(18, 122, 1, 0.25);">Services</h2>
        </div>
        <br>
        <ul class="timeline">
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="../assets/img/Group 53.png" alt="" /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 style="font-family: Poppins;font-style: normal;font-weight: bold;font-size: 25px;color: #494949;text-shadow: 28px 28px 14px rgba(18, 122, 1, 0.25);">Home Delivery</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Tension for transportation? Worry no more! We promise safe, doorstep delivery of your order .</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="../assets/img/Group 51.png" alt="" /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 style="font-family: Poppins;font-style: normal;font-weight: bold;font-size: 25px;color: #494949;text-shadow: 28px 28px 14px rgba(18, 122, 1, 0.25);">Online Booking</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Tough tasks? One solution-Advanced Technology. Book tractor, JCB, Thresher and other such equipments on our online portal.</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="../assets/img/Group 54.png" alt="" /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 style="font-family: Poppins;font-style: normal;font-weight: bold;font-size: 25px;color: #494949;text-shadow: 28px 28px 14px rgba(18, 122, 1, 0.25);">Online Market</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">With an aim to take an agricultural trade to the next level, we have set up an online market for farmers and vendors to buy and sell agro-products.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <img class="rounded-circle img-fluid" src="../assets/img/Group 52.png" alt="" />
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 style="font-family: Poppins;font-style: normal;font-weight: bold;font-size: 25px;color: #494949;text-shadow: 28px 28px 14px rgba(18, 122, 1, 0.25);">Consultancy</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Got queries regarding crop, cattle or cultivation?, Booking tools or tractor? We are here to hear it all, with a team of experts to answer and help you out.</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>
<!-- ---------------SERVICES ENDS HERE--------------- -->
<!-- ---------------------------------------------------- -->
<!-- ---------------------------------------------------- -->
<!-- ---------------------------------------------------- -->
<!-- ---------------------------------------------------- -->
<!-- ---------------CONTACT STARTS HERE--------------- -->
<section id="contact">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <h2 style="font-family: Poppins;font-style: normal;font-weight: bolder;font-size: 68px;color: #494949;text-shadow: 28px 28px 14px rgba(18, 122, 1, 0.25);">Contact Us</h2>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-lg-3 col-md-4">
                <div class="info">
                    <div>
                        <i class="fa fa-map-marker"></i>
                        <p>Kathora Naka<br>GCOEA, Amravati</p>
                    </div>
                    <div>
                        <i class="fa fa-envelope"></i>
                        <p>random@random.com</p>
                    </div>
                    <div>
                        <i class="fa fa-phone"></i>
                        <p>9922225555</p>
                    </div>
                </div>
                <div class="social-links">
                    <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                    <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                </div>
            </div>
            <div class="col-lg-5 col-md-8">
                <div class="form">
                    <form action="" role="form" class="php-email-form">
                        <div class="form-group">
                            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                            <div class="validate"></div>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                            <div class="validate"></div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                            <div class="validate"></div>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                            <div class="validate"></div>
                        </div>
                        <div class="text-center"><button type="submit">Send Message</button></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ---------------CONTACT ENDS HERE--------------- -->
<!-- ---------------------------------------------------- -->
<!-- ---------------------------------------------------- -->
<!-- ---------------------------------------------------- -->
<!-- ---------------------------------------------------- -->